/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: var(--bg-gradient);
      font-variation-settings: "wght" var(--min-size);
      font-family: var(--base-font);
      background-size: cover;
      background-attachment: fixed;
      min-inline-size: 320px;
      min-block-size: 100dvb;
}

/* ШАПКА */

.header__inline {
      inline-size: var(--inline-clamp);
}

.header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--bg-main-color);
      border: 2px solid var(--bg-side-color);
      margin-block-start: 6.1rem;
      padding-block-start: 8.2rem;
      padding-block-end: 8.2rem;
}

.header__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--side-font);
      text-transform: uppercase;
      gap: 20px;
}

.header__title {
      font-size: var(--title-clamp);
}

.header__descr {
      font-size: var(--description-clamp);
}

/* ОСНОВНОЙ КОНТЕНТ */
.main {
      padding-block-start: 5.9rem;
}

.decorative__gap {
      margin-block-start: 3.15rem;
}

.card {
      display: flex;
      flex-direction: column;
      background-color: var(--bg-main-color);
      border: 2px solid var(--bg-side-color);
      inline-size: var(--inline-clamp);
      padding-block-end: 22px;
}

.card__title {
      padding-block-start: 7px;
      padding-inline-start: 11px;
      padding-block-end: 5px;
      line-height: 100%;
      font-size: 18px;
      font-weight: var(--max-size);
      border-bottom: 2px solid var(--bg-side-color);
}

.card__description {
      border-top: 2px solid var(--bg-side-color);
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-block-start: 25px;
      padding-inline-start: 24px;
      padding-inline-end: 25px;
}

.card__description-text {
      font-size: 18px;
      font-weight: var(--min-size);
      line-height: 21px;
      padding-inline-end: 4px;
}

/* Картинка и лэйбл */

.card__image {
      position: relative;
}

.picture {
      display: block;
      width: 100%;
}

.picture__lable {
      position: absolute;
      top: 25px;
      right: 25px;
      font-family: var(--side-font);
      font-size: var(--font-mini);
      filter: opacity(50%);
      mix-blend-mode: hard-light;
      text-shadow:
            -1px 0 var(--bg-main-color),
            0 1px var(--bg-main-color),
            1px 0 var(--bg-main-color),
            0 -1px var(--bg-main-color);
}

@supports ((text-stroke: 1px var(--bg-main-color)) or (--webkit-text-stroke: 1px var(--bg-main-color))) {
      .picture__lable {
            -webkit-text-stroke: 1px var(--bg-main-color);
            text-stroke: 1px var(--bg-main-color);
            text-shadow: none;
      }
}

/*  Фильтры на картинках */

.gray__filter {
      filter: saturate(8) grayscale(0.9);
}

.retro__filter {
      filter: sepia(175%) brightness(100%);
}

.bright__filter {
      filter: contrast(2);
}

.hue__filter {
      filter: hue-rotate(40deg) saturate(1.6);
}

.invert__filter {
      filter: invert(1);
}

.sepia__grayscale__filter {
      filter: sepia(1) grayscale(0.5) contrast(2) brightness(3);
}

.blur__filter {
      filter: blur(1px) grayscale(0.5) hue-rotate(-60deg);
}

/* Кнопки */

.card__buttons {
      display: flex;
      align-self: flex-end;
      gap: 6px;
      padding-block-end: 3px;
}

.card__icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      inline-size: 38px;
      block-size: 38px;
      transition: border 0.3s;
      background-color: transparent;
      border: 2px solid transparent;
      cursor: pointer;
}

.card__like-button {
      block-size: 38px;
      inline-size: 130px;
}

.button {
      position: relative;
      cursor: pointer;
      border-style: none;
      border: 2px solid var(--bg-side-color);
      background-color: var(--bg-main-color);
      transition: box-shadow 0.3s ease;
      overflow: hidden;
}

.button__text {
      font-family: var(--side-font);
      font-size: var(--font-mini);
      line-height: 90%;
      mix-blend-mode: difference;
      color: var(--bg-main-color);
}

.button::before {
      content: "";
      inset: 0;
      background-color: var(--bg-side-color);
      position: absolute;
      translate: -100% 0%;
      transition: translate 0.5s ease-in-out;
}

.button:hover::before {
      translate: 0% 0%;
}

.card__icon-button:focus-visible {
      outline: 0px;
      border: 2px solid var(--bg-side-color);
}

.button:focus:focus-visible {
      outline: 0px;
      box-shadow: 2px 2px 0 0 var(--bg-side-color);
}

.like-icon {
      min-inline-size: 38px;
      block-size: auto;
}

.contour {
      transition: 0.1s linear 0s;
      transition-property: fill;
}

.main-body {
      transition: 0.3s linear 0s;
}

.core {
      transition: 0.3s linear 0.03s;
}

.sparks {
      opacity: 0%;
}

/* Всплывающее окно */

.dialog[open] {
      display: flex;
      align-items: center;
      flex-direction: column;
      inline-size: 353px;
      block-size: 191px;
      padding-block-start: 25px;
      padding-block-end: 25px;
      font-family: var(--side-font);
}

.dialog__card {
      display: flex;
      inline-size: 293px;
      gap: 12px;
}

.dialog__description {
      display: grid;
      inline-size: 234px;
      font-size: var(--font-mini);
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
}

.floppy__dialog {
      inline-size: 50px;
      width: 39px;
      mix-blend-mode: difference;
}

.dialog__button {
      margin-block-start: 30px;
      align-self: bottom;
      inline-size: 293px;
      block-size: 38px;
      font-weight: 400;
      text-transform: uppercase;
}

dialog::backdrop {
      background-color: rgb(0 0 0 / 0.75);
}

/* Кнопка с дискетой */

.icon__save {
      mix-blend-mode: difference;
      inline-size: 21px;
      block-size: auto;
      color: var(--bg-side-color);
}

.button__save {
      padding: 12px 18px;
}

.card__button__save {
      display: flex;
      flex-direction: column;
      place-self: center;
      background-color: var(--bg-main-color);
      border: 2px solid var(--bg-side-color);
}

.dialog__button__text {
      color: var(--bg-main-color);
      mix-blend-mode: difference;
}

/* Анимация сердца */

.like-icon.is-liked .contour {
      transition: 0.3s linear 0.06s;
      fill: var(--heart-animation-color);
}

.like-icon:hover .main-body {
      transition: 0.3s linear 0.05s;
      fill: var(--bg-side-color);
}
.like-icon:active .main-body {
      transition: 0.3s linear 0.05s;
      fill: var(--heart-animation-color);
}

.like-icon.is-liked .main-body {
      transition: 0.3s linear 0.05s;
      fill: var(--heart-animation-color);
}

.like-icon:hover .core {
      transition: 0.3s linear 0s;
      fill: var(--bg-side-color);
}

.like-icon:active .core {
      transition: 0.3s linear 0s;
      fill: var(--heart-animation-color);
}

.like-icon.is-liked .core {
      transition: 0.3s linear 0s;
      fill: var(--heart-animation-color);
}

.like-icon.is-liked .heart {
      transform-origin: center;
      animation: scale 0.3s ease-in 1;
      animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
      animation: sparks 0.3s ease-in 1;
      animation-delay: 0.3s;
}

@media (max-width: 375px) {
      .header {
            padding-block-start: 7.5rem;
            block-size: 327px;
      }

      .main {
            padding-block-start: 6.4rem;
      }

      .card__title {
            padding-inline-end: 3px;
            line-height: 117%;
            padding-block-start: 5px;
      }

      .card__description-text {
            padding-inline-end: 2px;
      }

      .decorative__gap {
            margin-block-start: 3rem;
            margin-block-end: 3.06rem;
      }

      .icon__save {
            padding-block-start: 15px;
            inline-size: 28px;
      }

      .button__save {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            padding: 0;
            inline-size: 306px;
            padding-block-end: 14px;
      }
      .dialog[open] {
            inline-size: 341px;
            block-size: 191px;
      }

      .dialog__card {
            gap: 29px;
      }
      .dialog__button {
            inline-size: 261px;
      }
      .floppy__dialog {
            margin-block-start: 10px;
            margin-inline-start: 16px;
            width: 39px;
            height: 39px;
      }
}
